<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="og:title" content="<%= title %>">
<meta name="og:description" content="<%= title %>">
<meta name="og:type" content="website"><meta name="og.image" content="">
<meta name="og:url" content="<%= window.location.href %>">
<meta name="twitter:title" content="<%= title %>">
<meta name="twitter:description" content="<%= title %>">
<meta name="twitter:card" content="summary">
<meta name="twitter.image" content="">
<meta name="twitter:url" content="<%= window.location.href %>">
<title><%= title %></title>